* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  background-image: linear-gradient(to right, bisque, black);
  display: inline-block;
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.again {
  position: absolute;
  top: 1rem;
  left: 2rem;
  border: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.container {
  max-width: 100rem;
  background-color: bisque;
  margin: 10rem auto;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 2rem;
  position: relative;
}

.btn {
  background-color: white;
  border: none;
  padding: 4rem 4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 3.5rem;
  cursor: pointer;
}
.result {
  font-size: 2.4rem;
  letter-spacing: 3px;
  margin-top: 1.6rem;
}
